
body {
	background-color: #eafaf7;
}

#Level1Newbie{
	background-color: #fdec8a;
}

#arialFont { 
	font-family: Arial, sans-serif;
}

#tahomaFont{
	font-family: "Comic Sans MS", cursive, sans-serif;
}

#Level1Newbie img {
	width: 50px;
	height: 50px;
}

#Level2Apprentice{
	background-color: #84dce9;
}

#centertxt {
	height: 700px;
	width: 700px;
    position: relative;
}

#centeredd{
	left: -294px;
    position:absolute;
    text-align:center;
    top: 737px;
    width: 100%;
    color: yellow;
    font-weight: bold;
    font-size: 40px;
    font-family: "Comic Sans MS", cursive, sans-serif;


}

#margins{
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	height: 600px;
	width: 600px;
}
 
 #border{
 	border-style: dotted;
 	font-size: 40px;
 	color: darkblue;
 }

#float, h3{
	float: right;
	width: 400px;
	height: 400px;
}

#round{
	 border-radius: 25px;
    background: #73AD21;
    text-align: center;
}